<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bryanherman.sessionarchiver</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4D61ABEC-DD24-4A2F-96FF-EFCDF6A0684F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58C750D0-ABDE-4E22-8621-82562BEB78EE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F56FDF59-9F46-4917-AE2E-C91241476CAC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95D183C9-2C88-4A60-8CBC-A69E0E07C11A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0A73390-532F-437D-8FC4-1C3DFE6D0E98</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>82B837A1-9F90-41DB-80BD-4C4B40A58895</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B41D05D2-D425-4DEE-A9CA-6E4827E6508E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58C750D0-ABDE-4E22-8621-82562BEB78EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82B837A1-9F90-41DB-80BD-4C4B40A58895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>95D183C9-2C88-4A60-8CBC-A69E0E07C11A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B41D05D2-D425-4DEE-A9CA-6E4827E6508E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0A73390-532F-437D-8FC4-1C3DFE6D0E98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F56FDF59-9F46-4917-AE2E-C91241476CAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bryan Herman</string>
	<key>description</key>
	<string>Quickly switch between projects by saving your work in certain apps, closing them, and opening a different project in other apps.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Session Archiver</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script with alt &gt;&amp;2
./process_command.sh -m alt {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58C750D0-ABDE-4E22-8621-82562BEB78EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script with cmd &gt;&amp;2
./process_command.sh -m cmd {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F56FDF59-9F46-4917-AE2E-C91241476CAC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script with ctrl &gt;&amp;2
./process_command.sh -m ctrl {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95D183C9-2C88-4A60-8CBC-A69E0E07C11A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>34</integer>
				<key>keyword</key>
				<string>sa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>./script_filter.sh {query}</string>
				<key>title</key>
				<string>Session Archiver</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D61ABEC-DD24-4A2F-96FF-EFCDF6A0684F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A9842893-74ED-43EB-8975-6CDFF0168921</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script with shift &gt;&amp;2
./process_command.sh -m shift {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0A73390-532F-437D-8FC4-1C3DFE6D0E98</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script with fn &gt;&amp;2
./process_command.sh -m fn {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82B837A1-9F90-41DB-80BD-4C4B40A58895</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>34</integer>
				<key>script</key>
				<string>echo entered alfred.workflow.action.script &gt;&amp;2
./process_command.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B41D05D2-D425-4DEE-A9CA-6E4827E6508E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D61ABEC-DD24-4A2F-96FF-EFCDF6A0684F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>58C750D0-ABDE-4E22-8621-82562BEB78EE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>82B837A1-9F90-41DB-80BD-4C4B40A58895</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>95D183C9-2C88-4A60-8CBC-A69E0E07C11A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A9842893-74ED-43EB-8975-6CDFF0168921</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>B41D05D2-D425-4DEE-A9CA-6E4827E6508E</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>F0A73390-532F-437D-8FC4-1C3DFE6D0E98</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F56FDF59-9F46-4917-AE2E-C91241476CAC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
